<p id="notice"><%= notice %></p>

<p>
  <b>Anredetyp:</b>
  <%= @adress.anredeTyp.anrede %>
</p>

<p>
  <b>Akademischertitel:</b>
  <%= @adress.akademischerTitel %>
</p>

<p>
  <b>Berufstitel:</b>
  <%= @adress.berufsTitel %>
</p>

<p>
  <b>Berufsfunktion:</b>
  <%= @adress.berufsFunktion %>
</p>

<p>
  <b>Vorname:</b>
  <%= @adress.vorname %>
</p>

<p>
  <b>Nachname:</b>
  <%= @adress.nachname %>
</p>

<p>
  <b>Adrstrasse:</b>
  <%= @adress.adrStrasse %>
</p>

<p>
  <b>Adrort:</b>
  <%= @adress.adrOrt %>
</p>

<p>
  <b>Adrplz:</b>
  <%= @adress.adrPlz %>
</p>

<p>
  <b>Adrland:</b>
  <%= @adress.adrLand %>
</p>

<p>
  <b>Firma:</b>
  <%= @adress.firma %>
</p>

<p>
  <b>Institution:</b>
  <%= @adress.institution %>
</p>

<p>
  <b>Newsletter:</b>
  <%= @adress.newsletter %>
</p>


<%= link_to 'Edit', edit_adress_path(@adress) %> |
<%= link_to 'Back', adresses_path %>
