
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OpenAB</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>    

	
    <!-- Le styles -->
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      logo_home { position:relative; left:-10px;
      }
    </style>
  	  	
  </head>

  <body>
	
	<div class="navbar navbar-inverse navbar-fixed-top">  
<!--	<div class="masthead">
	    <a class="logo_home" href="#index.html"><img src="/img/image001.jpg" alt="Home"/> </a>
	</div>   -->
	
 <!--   <div class="navbar navbar-inverse affix-top">  -->
        <div class="navbar-inner" style="width: 600px">
        <div class="container">
       	  <a class="logo_home" href="#index.html"><img src="/img/image001.jpg" alt="Home"/> </a>
       	  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-pills">  
          <!-- <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
       <!--   <a class="brand" href="#index.html"><img src="/img/image001.jpg" alt="Home"/></a>  -->
          <a class="brand" href="#">OpenAB</a>
			 <!-- Collect the nav links, forms, and other content for toggling -->
		
 		  
 		  <div class="nav-pills">
 		      <ul class="nav">
 		           <li class="active"><%= link_to "Home", adresses_path %></li>
 		           <li><%= link_to "Admin", :controller => "admin", :action => "index"  %> </li>
 		           <li><a href="#about">About</a></li>
 		      </ul>
 		  </div><!--/.nav-collapse -->
 		</div>       
      </div>
    </div>

    <div class="container">

      <%= yield %>

    </div> 
    

  </body>
</html>
